:host {
  display: block;
}

.container {
  display: block;

  background: #f3f3f3;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.container > a {
  color: #5cb85c;
  text-decoration: none;
  box-sizing: inherit;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  font-family: titillium web, sans-serif;
}

.container > span {
  margin-left: 10px;
  font-size: 0.8rem;
  color: #bbb;
  font-weight: 300;
  font-family: source sans pro, sans-serif;
  line-height: 1.5;
}

.container > span > a {
  color: #5cb85c;
  text-decoration: none;
}

.container > span > a:hover {
  color: #3d8b3d;
  text-decoration: underline;
}
