:host {
  display: block;
  margin-top: 1.5rem;
}

.container {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container > div {
  border: solid 1px red;
}

.container > div.articles {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 75%;
}

.container > div.tags {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 25%;
}
