:host {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  font-family: source sans pro, sans-serif;
}

div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.meta {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

div.info {
  display: inline-block;
  margin: 0 1.5rem 0 0.3rem;
  vertical-align: middle;
  line-height: 1rem;
}

a.author {
  display: block;
  font-weight: 500;
  color: #5cb85c;
  text-decoration: none;
}

span.date {
  display: block;
  color: #bbb;
  font-size: 0.8rem;
}

button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}
