:host {
  display: inline-block;
  font-family: source sans pro, sans-serif;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
  margin-right: 3px;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 10rem;
  cursor: pointer;
}

:host(.default) {
  background: #818a91;
  color: #fff;
}

:host(.outline) {
  border: 1px solid #ddd;
  color: #aaa;
}
