<div class="editor-page" [formGroup]="form">
  <input
    type="text"
    placeholder="Article Title"
    class="title"
    formControlName="title"
  />

  <div class="error-massage" *ngIf="title.hasError('required')">
    請輸入標題內容
  </div>

  <input
    type="text"
    placeholder="What's this article about?"
    class="about"
    formControlName="description"
  />

  <textarea
    rows="8"
    placeholder="Write your article (in markdown)"
    class="your-article"
    formControlName="content"
  ></textarea>

  <div class="tags"></div>

  <div class="button">
    <button type="button" [disabled]="form.invalid" (click)="onSave()">
      Publish Article
    </button>
  </div>
</div>
